modules = ["nodejs-20", "web", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["flutter"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OKVI Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "OKVI Backend"

[[workflows.workflow]]
name = "OKVI Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd okvi-frontend && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "OKVI Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 40887
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.development]
ALLOW_DB_FAILURE = "true"

[userenv.shared]
USE_SMTP = "true"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "src/app.js"]
